#Assignment Solution
#Name: Muhammad Alishan Khan
#Roll no : 093
#Course: AI and DS
#Teacher: Faisal Amin

## Part A: Print Statement

In [14]:
#1. Print your name and age
print("My name is Muhammad Alishan Khan and my age is 19")

My name is Muhammad Alishan Khan and my age is 19

In [15]:
#2. Use sep with numbers
print(1, 2, 3, 4, 5, sep="-")
print(1, 2, 3, 4, 5, sep="|")
print(1, 2, 3, 4, 5, sep=",")

1-2-3-4-5
1|2|3|4|5
1,2,3,4,5

In [16]:
#3. Use end to print in two statements
print("Hello World!", end=" ")
print("I am learning Python")

Hello World! I am learning Python

In [17]:
#4. Print the shape
print("*")
print("* *")
print("* * *")
print("* * * *")

*
* *
* * *
* * * *

## Part B: Variables

In [18]:
# 1. Variables name, age, city
name = "Muhammad Alishan Khan"
age = 19
city = "Karachi"
print("My name is", name, ", I am", age, "years old and I live in", city)

My name is Muhammad Alishan Khan , I am 19 years old and I live in Karachi

In [19]:
#2. Variables a = 10, b = 20
a = 10
b = 20
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Division:", a / b)

Sum: 30
Difference: -10
Product: 200
Division: 0.5

In [20]:
#3. Reassign a = 15, b = 25
a = 15
b = 25
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Division:", a / b)

Sum: 40
Difference: -10
Product: 375
Division: 0.6

In [21]:
#4. Area of a circle (r = 5)
pi = 3.14159
r = 5
area = pi * r * r
print("Area of circle with radius 5 is:", area)

Area of circle with radius 5 is: 78.53975

##Bonus Challenge:

In [22]:
#Swap without third variable
x = 7
y = 3
print("Before swapping: x =", x, ", y =", y)
x, y = y, x
print("After swapping: x =", x, ", y =", y)

Before swapping: x = 7 , y = 3
After swapping: x = 3 , y = 7